@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    @apply bg-gray-200 text-black dark:bg-black dark:text-white
}
button{
    @apply transition-colors duration-150
}
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}
.fade-in {
  animation: fadeIn 0.5s ease-out;
}
